@model IEnumerable<WarbandOfTheSpiritborn.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <h1>Welcome to our Blog</h1>
        <p>
            <a asp-action="Create">Create New Post</a>
        </p>
        <hr />
    </div>
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <h2>
                @Html.DisplayFor(modelItem => item.BlogName)
            </h2>
            <p>
                @Html.DisplayFor(modelItem => item.BlogPost)
            </p>
            <p>
                Author:
                @Html.DisplayFor(modelItem => item.BlogAuthor)
            </p>
            <p>
                Posted:
                @Html.DisplayFor(modelItem => item.ArticleDate)
            </p>
            <p>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </p>
            <hr />
        }
    </div>

