@model IEnumerable<WarbandOfTheSpiritborn.Models.Builds>

@{
    ViewData["Title"] = "Index";
}
<partial name="_HelperNav" model='"Builds"' />

<div class="container">
    <h1>Guild Wars 2 Builds</h1>
    <p>
        Here you can find all the gw2 collection of builds created by our guildies. Enjoy!
    </p>
    <p>
        <a asp-action="Create">Create New Build</a>
    </p>
    <hr />
</div>
<div class="container-fluid">
    @foreach (var item in Model)
    {
        <h3>
            @Html.DisplayFor(modelItem => item.BuildName)
        </h3>
        <p>
            @Html.DisplayFor(modelItem => item.Profession)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Item)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Stat)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Rotation)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.MainSkills)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.SecondarySkills)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.WeaponSet)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.OtherItems)
        </p>
        <p>
            Author:
            @Html.DisplayFor(modelItem => item.BuildAuthor)
        </p>
        <p>
            Posted:
            @Html.DisplayFor(modelItem => item.BuildDate)
        </p>
        <p>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </p>
        <hr />
    }
</div>
